body{
    background-color: rgb(3, 3, 51);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form{
    border: solid;
    padding: 10px;
    background-color: #0000889f;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px ;
    box-shadow: 5px 5px 20px 10px rgb(4, 6, 130);
}
form input{
    background-color: #0000aaa0;
    border: hidden;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 200px;
    flex-grow:1;
    
}
.button{
    border-radius: 10px;
    cursor: pointer;
}



